/* styles/ButtonTheme.css */
.btn {
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}

.btn-dark:hover {
  background-color: #555;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #218838;
}
