.categories-page {
  margin-top: 80px;
}

.category-card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  background-color: #600890;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.category-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.category-title {
  padding: 15px 0;
  font-size: 22px;
  font-weight: bold;
  background-color: #f8f9fa;
}
